<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <httpRequestBegin>
        <processor type="ParTech.Modules.SeoUrl.Pipelines.ItemResolver, ParTech.Modules.SeoUrl" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
    </pipelines>
    
    <linkManager>
      <patch:attribute name="defaultProvider">partech</patch:attribute>
      <providers>
        <add name="partech" type="ParTech.Modules.SeoUrl.Providers.LinkProvider, ParTech.Modules.SeoUrl"
              addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="always"
              languageLocation="filePath" lowercaseUrls="true" shortenUrls="false" useDisplayName="true"
              applyForSites="" ignoreForSites="shell,login,admin" forceFriendlyUrl="true"
          />
      </providers>
    </linkManager>
      
  </sitecore>
</configuration>