<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <httpRequestBegin>
        <processor type="ParTech.Modules.SeoUrl.Pipelines.ItemResolver, ParTech.Modules.SeoUrl" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
    </pipelines>
    
    <linkManager>
      <patch:attribute name="defaultProvider">partech</patch:attribute>
      <providers>
        <!--
                    applyForSites:  Comma-separated list of site names.
                                    Apply the LinkProvider only for these sites.
                   ignoreForSites:  Comma-separated list of site names.
                                    Don't apply the LinkProvider to these sites.
                 forceFriendlyUrl:  true / false
                                    301-redirect to the friendly URL if the request was using a different URL.
                    trailingSlash:  true / false
                                    Add or remove trailing slash from the URL.
          onlyApplyForSiteContent:  true/false
                                    Only apply the LinkProvider to content that is a descendant of the site's start path.
        -->
        <add name="partech" type="ParTech.Modules.SeoUrl.Providers.LinkProvider, ParTech.Modules.SeoUrl"
              addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="asNeeded"
              languageLocation="filePath" lowercaseUrls="true" shortenUrls="false" useDisplayName="true"
              applyForSites="" ignoreForSites="shell,login,admin" forceFriendlyUrl="true" trailingSlash="false"
              onlyApplyForSiteContent="true"
          />
      </providers>
    </linkManager>
      
  </sitecore>
</configuration>